<%- include("partials/header", { pageTitle: "Greeting" }) %>

<main>
  <h2>Hello <%= name %>!</h2>
  <p>We are glad to see you back.</p>
  <p><a href="/home">Go to the blog home</a></p>
</main>

<%- include("partials/footer") %>
